[Unit]
Description=Loki
After=network.target

[Service]
Type=simple
User=prometheus
ExecStart=/etc/loki/loki -config.file /etc/loki/loki-config.yaml

[Install]
WantedBy=multi-user.target
